@model dynamic;

<div class="logo" style="width: @Model.size; height: @Model.size;">
    <a href="/">
        <img alt="logo" src="@Url.Content("~/Images/logo.svg")" />
    </a>
</div>

<style>
    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>