@using ToDoCS.Data.Enums
@using ToDoCS.Helpers.HtmlHelpers

<div class="registration-page">
    <section class="registration-page__title-section">
        <h1 class="registration-page__title">Регистрация</h1>
    </section>
    
    <section class="registration-page__form-section">
        @FormGenerator.GenerateForm(ActionsNamesEnum.Index, ControllersNamesEnum.Registration, "post")
    </section>
</div>