<div class="registration-page">
    <section class="registration-page__title-section">
        <h1 class="registration-page__title">Регистрация</h1>
    </section>
    
    <section class="registration-page__form-section">
        <form class="registration-page__form"></form>
    </section>
</div>