@using ToDoCS.Data.Enums
@using ToDoCS.Helpers.HtmlHelpers

@{
    ViewData["Title"] = "Вход";
}

@section Style {
    <link rel="stylesheet" href="@Url.Content("~/Css/Pages/login.css")"/>
}

<div class="login-page">
    <section class="login-page__form-section">
        <h4 class="login-page__title">Вход</h4>
        <form method="post" action="api/Auth/Login/Login">
            @UIGenerator.GetInputGroup(id: "name", name: "name", placeholder: "Введите имя", type: "text", label: "Имя")
            @UIGenerator.GetInputGroup(id: "password", name: "password", placeholder: "Введите пароль", type: "password", label: "Пароль")
            @UIGenerator.GetButton(text: "Войти", btnType: UIButtonTypeEnum.Primary, btnSize: UIButtonSizeEnum.Large, type: "submit")
        </form>
    </section>
</div>